@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Leckerli+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-leckerli : "Leckerli One", cursive;
    --color-acent: #ff8a00;
    --animate-next1 : next1 1s ease-in forwards;
    /* --animate-next2 : next2 1s ease-in forwards;
    @keyframes next1 {
        from{
            left: 0%;
        }
        to{
            left: -100%;
        }
    }
    @keyframes next2 {
        from{
            left: 100%;
        }
        to{
            left: 0%;
        }
    } */
}